body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  display : block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: #eef2f5;
  margin-top: -10px;
  background-image: url("https://c1.staticflickr.com/5/4645/27217386689_b4a24aa6fe_h.jpg");
  background-size: 100%;
  background-attachment: fixed;
}

.image{
    height: 420px;
    width: auto;
    border-radius: 5%;
}

#profil{
  height: 400px;
  width: auto;
  border-radius: 5%;
  border: 3px solid lightgrey;
}

#welcome_banner{
  color: #153243
}
h1 {
  color: grey;
  font-family: 'Poppins', sans-serif;
}

.link{
 color: grey;
 text-decoration: none;
}

.link:hover{
color : red;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

h2 {
  font-size: 20px;
  font-family: 'Italiana', serif;
}

h3{
  font-family: 'Montez', cursive;
  color: #CED3DC ;
  font-size: 30px;
}

.image {
    height: 420px;
    display: table-cell;
    width: auto;
    margin: 0 auto;
    }

ul {
list-style-type: none;
}

.card {
    background-color: #FCF7F8;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px;
    margin-bottom: 18px;
    box-shadow: 1px 5px 0px 2px rgba(162, 155, 155, 0.2);
}


